<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<!-- <body>
    코드 입력 관련 UI 부분. 일단 그래픽 그리는 부분 하려고 주석처리
    <h1>MyPage</h1>
    <button id="logout">로그아웃</button>
    <button id="signout">회원탈퇴</button>
    <script>
        const logoutButton = document.getElementById("logout");
        const signoutButton = document.getElementById("signout");


        logoutButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/mypage/logout';
        });
        signoutButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/mypage/signout';
        });

        
    </script>
</body>
<form method="POST">
    <textarea name="content" style="width:50%; height:1080px;"></textarea>
    <button type="submit" value="Generate"></button>
</form> -->
<body>
    <% if(typeof drawObjectDoc == 'undefined') {%>
        <script> alert("No json")</script>
    <%} %>


    <canvas id="canvas" width="1920" height="1080"></canvas>
    <script type="text/javascript">
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        ctx.translate(960, 540);
        ctx.beginPath();
    </script>

    
    <% function printRect(parent_obj) {
        for(child_obj_key in parent_obj){
            child_obj = parent_obj[child_obj_key]
            if(typeof child_obj['layer'] === 'undefined'){
                console.info(child_obj)
                printRect(child_obj)
            }
            else{ 
                console.info(child_obj['layer'][0])            
                if(child_obj['layer'][0] == 'prBoundary'){ %>     
                    <script>ctx.fillStyle ="rgba(0,255,0, 1)";</script>
                <% }else{ %>     
                    <script>ctx.fillStyle ="rgba(255,0,0, 0.5)";</script>
                <% } %>
                <script>
                    const originX = "<%= child_obj['xy'][0][0] %>";
                    const originY = "<%= child_obj['xy'][0][1] %>";
                    const width = "<%= child_obj['xy'][1][0]-child_obj['xy'][0][0]%>";
                    const height = "<%= child_obj['xy'][1][1]-child_obj['xy'][0][1] %>";
                    ctx.fillRect(originX, originY, width, height);
                    
                </script>
            <% }
        }
    }
    const pmos = drawObjectDoc['templates']['mos']['pmos']
    //console.info(pmos)
    const pmos_rects = drawObjectDoc['templates']['mos']['pmos']['rects']
    //console.info(typeof pmos_rects['layer'])
    printRect(pmos) %>

</body>

</html>