<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <style type="text/css" media="screen">
		body { background:#eee; margin:1em; text-align:center; }
		canvas { display:block; margin:1em auto; background:#fff; border:1px solid #ccc }
	</style>
</head>


<!-- <body>
    코드 입력 관련 UI 부분. 일단 그래픽 그리는 부분 하려고 주석처리
    <h1>MyPage</h1>
    <button id="logout">로그아웃</button>
    <button id="signout">회원탈퇴</button>
    <script>
        const logoutButton = document.getElementById("logout");
        const signoutButton = document.getElementById("signout");


        logoutButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/mypage/logout';
        });
        signoutButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/mypage/signout';
        });

        
    </script>
</body>
<form method="POST">
    <textarea name="content" style="width:50%; height:1080px;"></textarea>
    <button type="submit" value="Generate"></button>
</form> -->
<body>
    <% if(typeof drawObjectDoc == 'undefined') {%>
        <script> alert("No json")</script>
    <%} %>
    
    <canvas id="canvas" width="1920" height="1080"></canvas>
    <script type="text/javascript">
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');

        function trackTransforms(ctx){
            var svg = document.createElementNS("http://www.w3.org/2000/svg",'svg');
            var xform = svg.createSVGMatrix();
            ctx.getTransform = function(){ return xform; };
            
            var savedTransforms = [];
            var save = ctx.save;
            ctx.save = function(){
                savedTransforms.push(xform.translate(0,0));
                return save.call(ctx);
            };
            var restore = ctx.restore;
            ctx.restore = function(){
                xform = savedTransforms.pop();
                return restore.call(ctx);
            };

            var scale = ctx.scale;
            ctx.scale = function(sx,sy){
                xform = xform.scaleNonUniform(sx,sy);
                return scale.call(ctx,sx,sy);
            };
            var rotate = ctx.rotate;
            ctx.rotate = function(radians){
                xform = xform.rotate(radians*180/Math.PI);
                return rotate.call(ctx,radians);
            };
            var translate = ctx.translate;
            ctx.translate = function(dx,dy){
                xform = xform.translate(dx,dy);
                return translate.call(ctx,dx,dy);
            };
            var transform = ctx.transform;
            ctx.transform = function(a,b,c,d,e,f){
                var m2 = svg.createSVGMatrix();
                m2.a=a; m2.b=b; m2.c=c; m2.d=d; m2.e=e; m2.f=f;
                xform = xform.multiply(m2);
                return transform.call(ctx,a,b,c,d,e,f);
            };
            var setTransform = ctx.setTransform;
            ctx.setTransform = function(a,b,c,d,e,f){
                xform.a = a;
                xform.b = b;
                xform.c = c;
                xform.d = d;
                xform.e = e;
                xform.f = f;
                return setTransform.call(ctx,a,b,c,d,e,f);
            };
            var pt  = svg.createSVGPoint();
            ctx.transformedPoint = function(x,y){
                pt.x=x; pt.y=y;
                return pt.matrixTransform(xform.inverse());
            }
	    }

        trackTransforms(ctx);
        var originX = 0;
        var originY = 0;
        var width = 0;
        var height = 0;
        ctx.translate(960, 540);
        ctx.beginPath();
        var rectList = [];
    </script>

    
    <% function buildMap(parent_obj) {
        for(child_obj_key in parent_obj){
            child_obj = parent_obj[child_obj_key]
            if(typeof child_obj['layer'] === 'undefined'){
                console.info(child_obj)
                buildMap(child_obj)
            }
            else{ %>
                <script>
                    originX = "<%= child_obj['xy'][0][0] %>"*5;
                    originY = "<%= child_obj['xy'][0][1] %>"*5;
                    width = "<%= child_obj['xy'][1][0]-child_obj['xy'][0][0]%>"*5;
                    height = "<%= child_obj['xy'][1][1]-child_obj['xy'][0][1] %>"*5;
                </script>
                <%
                console.info(child_obj['layer'][0])
                switch(child_obj['layer'][0]) {
                    case 'prBoundary':
                        console.log('pb 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(255 ,255,0, 0.5)", 'prBoundary', true]);
                        </script>
                        <% break;
                    case 'nwell':
                        console.log('nw 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(0,255,0, 0.5)", 'nwell', true]);
                        </script>
                        <% break;
                    case 'pimplant':
                        console.log('pi 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(0, 0, 255, 0.5)", 'pimplant', true]);
                        </script>
                        <% break;
                    case 'diffusion':
                        console.log('diff 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(0,255,255, 0.5)", 'diffusion', true]);
                        </script>
                        <% break;
                    case 'poly':
                        console.log('po 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(255,255,0, 1)", 'poly', true]);
                        </script>
                        <% break;
                    case 'metal1':
                        console.log('m1 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(255,0,255, 1)", 'metal1', true]);
                        </script>
                        <% break;
                    case 'metal2':
                        console.log('m2 감지')%> 
                        <script>
                            rectList.push([originX, originY, width, height, "rgba(0,255,0, 1)", 'metal2', true]);
                        </script>
                        <% break;
                    default:
                        console.log('Do nothing')
                }            
            }
        }
    }
    const pmos = drawObjectDoc['templates']['mos']['pmos']
    const pmos_rects = drawObjectDoc['templates']['mos']['pmos']['rects']
    buildMap(pmos)%>
    <script>
        function redraw(){
            ctx.save();
			ctx.setTransform(1,0,0,1,0,0);
			ctx.clearRect(0,0,canvas.width,canvas.height);
			ctx.restore();
            rectList.forEach(rect => {
                if(rect[6]){
                    ctx.fillStyle = rect[4];
                    ctx.fillRect(rect[0], rect[1], rect[2], rect[3]);
                }
            });
        }
        redraw();
    </script>
    

    
    
    <script>
        var lastX=canvas.width/2, lastY=canvas.height/2;
        var dragStart,dragged;
        canvas.addEventListener('mousedown',function(evt){
            document.body.style.mozUserSelect = document.body.style.webkitUserSelect = document.body.style.userSelect = 'none';
            lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
            lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
            dragStart = ctx.transformedPoint(lastX,lastY);
            dragged = false;
        },false);
        
        canvas.addEventListener('mousemove',function(evt){
            lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
            lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
            dragged = true;

            if (dragStart){
                var pt = ctx.transformedPoint(lastX,lastY);
                ctx.translate(pt.x-dragStart.x,pt.y-dragStart.y);
                redraw()
            }	
        },false);
        
        canvas.addEventListener('mouseup',function(evt){
            dragStart = null;
            if (!dragged) zoom(evt.shiftKey ? -1 : 1 );
        },false);

        var scaleFactor = 1.1;
		var zoom = function(clicks){
			var pt = ctx.transformedPoint(lastX,lastY);
			ctx.translate(pt.x,pt.y);
			var factor = Math.pow(scaleFactor,clicks);
			ctx.scale(factor,factor);
			ctx.translate(-pt.x,-pt.y);
			redraw()
		}

        var handleScroll = function(evt){
            var delta = evt.wheelDelta ? evt.wheelDelta/40 : evt.detail ? -evt.detail : 0;
            if (delta) zoom(delta);
            return evt.preventDefault() && false;
        };
        
        canvas.addEventListener('DOMMouseScroll',handleScroll,false);
        
        canvas.addEventListener('mousewheel',handleScroll,false); 
    </script>

    <button id="M1">M1</button>
    <button id="M2">M2</button>
    <script>
        const m1Button = document.getElementById("M1");
        const m2Button = document.getElementById("M2");

        m1Button.addEventListener('click', () => {
            rectList.forEach(rect => {
                if(rect[5] == 'metal1'){
                    rect[6] = !rect[6];
                }
                redraw();
            });
        });
        m2Button.addEventListener('click', () => {
            rectList.forEach(rect => {
                if(rect[5] == 'metal2'){
                    rect[6] = !rect[6];
                }
                redraw();
            });
        });
    </script>
    

</body>

</html>