<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<!-- <body>
    코드 입력 관련 UI 부분. 일단 그래픽 그리는 부분 하려고 주석처리
    <h1>MyPage</h1>
    <button id="logout">로그아웃</button>
    <button id="signout">회원탈퇴</button>
    <script>
        const logoutButton = document.getElementById("logout");
        const signoutButton = document.getElementById("signout");


        logoutButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/mypage/logout';
        });
        signoutButton.addEventListener('click', () => {
            window.location = 'http://localhost:3000/mypage/signout';
        });

        
    </script>
</body>
<form method="POST">
    <textarea name="content" style="width:50%; height:1080px;"></textarea>
    <button type="submit" value="Generate"></button>
</form> -->
<body>
    <% if(typeof drawObjectDoc == 'undefined') {%>
        <script> alert("No json")</script>
    <%} %>


    <canvas id="canvas" width="3840" height="2160"></canvas>
    <script type="text/javascript">
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        var originX = 0;
        var originY = 0;
        var width = 0;
        var height = 0;
        ctx.translate(960, 540);
        ctx.beginPath();
        //ctx.fillStyle ="rgba(0,0,255, 1)";
        //ctx.fillRect(0, 0, 100, 100);
    </script>

    
    <% function printRect(parent_obj) {
        for(child_obj_key in parent_obj){
            child_obj = parent_obj[child_obj_key]
            if(typeof child_obj['layer'] === 'undefined'){
                console.info(child_obj)
                printRect(child_obj)
            }
            else{ %>
                <script>
                    originX = "<%= child_obj['xy'][0][0] %>"*5;
                    originY = "<%= child_obj['xy'][0][1] %>"*5;
                    width = "<%= child_obj['xy'][1][0]-child_obj['xy'][0][0]%>"*5;
                    height = "<%= child_obj['xy'][1][1]-child_obj['xy'][0][1] %>"*5;
                </script>
                <%
                console.info(child_obj['layer'][0])
                switch(child_obj['layer'][0]) {
                    case 'prBoundary':
                        console.log('pb 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(255 ,255,0, 0.5)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    case 'nwell':
                        console.log('nw 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(0,255,0, 0.5)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    case 'pimplant':
                        console.log('pi 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(0, 0, 255, 0.5)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    case 'diffusion':
                        console.log('diff 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(0,255,255, 0.5)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    case 'poly':
                        console.log('po 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(255,255,0, 1)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    case 'metal1':
                        console.log('m1 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(255,0,255, 1)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    case 'metal2':
                        console.log('m2 감지')%> 
                        <script>
                        ctx.fillStyle ="rgba(0,255,0, 0.5)";
                        ctx.fillRect(originX, originY, width, height);
                        </script>
                        <% break;
                    default:
                        console.log('Do nothing')
                }            
            }
        }
    }
    const pmos = drawObjectDoc['templates']['mos']['pmos']
    //console.info(pmos)
    const pmos_rects = drawObjectDoc['templates']['mos']['pmos']['rects']
    //console.info(typeof pmos_rects['layer'])
    printRect(pmos) %>

</body>

</html>