<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in page</title>
</head>
<body>
    <h1>signup</h1>
</body>
<form method="post">
    <table>
        <tr>
            <td><label>ID</label></td>
            <td>
                <label>
                    <input type="text" name="userID">
                </label>
            </td>
            <td><label>PW</label></td>
            <td>
                <label>
                    <input type="text" name="userPW">
                </label>
            </td>
        </tr>
    </table>
    <td><input type="submit" value="Signin" name=""></td>
</form>

</body>
</html>